@charset "UTF-8";

html, body {
    font-size: 70%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Songti SC", "HiraMinProN-W3","serif";
    color: #222222;
}

header, footer {
    width: 100%;
    height: 60px;
}

.top {
    display: flex;
    width: 100%;
    height: 700px;
    margin: 0;
}

.top .menu {
    display: none;
    width: 40%;
    height: 650px;
    padding: 150px 0 0 0;
    margin: 0;
    text-align: center;
}
.top .title1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}
.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 20px 0;
}
.sub-title:before, .sub-title:after {
    content: '';
    border-top: 1px solid;
    width: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.title {
    font-family: 'Songti SC';
    font-size: 3rem;
    margin-top: 100px;
    width: 150px;
    height: 50px;
}

.top .buttons {
    display: flex;
    height: 200px;  
    margin: 100px 0 0 0;
    font-size: 3rem;
}
#click1, #click2, #click3 {
    text-align: center;
    text-decoration: none;
    width: 100%;   
    height: 40px;
    margin: 20px;
    line-height: 40px;
}
a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 0%;
    height: 1px;
    bottom: -1px;
    left: 50%;
    background-color: #222222;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    box-shadow: 4px 4px 10px #444444;
}

a:hover::after {
    width: 100%;
}

.discription {
    font-size: 1.2rem;
    margin: 20px;
    line-height: 2.5;
    letter-spacing: 2px;
}

.top .img1 {
    display: none;
    background-image: url("../img/women1.jpg");
    background-repeat: no-repeat;
    width: 60%;
    height: 650px;
    background-size: 100% 550px;
    margin: 50px 0 0 0;
}
.history {
    display: flex;
    width: 100%;
    height: 800px;
    margin: 0;
}
.history .second {
    text-align: center;
    width: 40%;
    height: 600px;
    margin: 0;
    padding-top: 150px;
    opacity: 0;
    transform: translateX(-50px);
    transition: 2s;
}
.second.scrollin {
    opacity: 1;
    transform: translateX(0);
}

.history .images {
    width: 60%;
    height: 650px;
    order: 2;
    position: relative;
    margin: 0;
}
.history .h-img1 {
    background-image: url("../img/rt4.jpeg");
    position: absolute;
    background-repeat: no-repeat;
    margin: 0;
    width: 400px;
    height: 200px;
    background-size: 350px 200px;
    top: 40px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.h-img1.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.history .h-img2 {
    background-image: url(../img/horimono.jpeg);
    position: absolute;
    background-repeat: no-repeat;
    margin: 0;
    width: 370px;
    height: 500px;
    background-size: 370px 470px;
    top: 300px;
    left: 40px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.h-img2.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.history .h-img3 {
    background-image: url(../img/ainu.jpeg);
    position: absolute;
    background-repeat: no-repeat;
    margin: 0;
    width: 400px;
    height: 550px;
    background-size: 380px 500px;
    left: 450px;
    top: 150px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.h-img3.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.meaning {
    display: flex;
    width: 100%;
    height: 700px;
    margin: 0;
}

.meaning .third {
    text-align: center;
    padding: 130px 0 0 20px;
    opacity: 0;
    transform: translateX(50px);
    transition: 2s;
}
.third.scrollin {
    opacity: 1;
    transform: translateX(0);
}

.meaning .m-images {
    width: 60%;
    height: 650px;
    position: relative;
    margin: 0;
}
.meaning .m-img1 {
    background-image: url(../img/sw.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 200px;
    background-size: 350px 200px;
    top: 50px;
    left: 200px;
    margin: 0;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.m-img1.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}


.meaning .m-img2 {
    background-image: url(../img/rose.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    width: 350px;
    height: 700px;
    background-size: 320px 440px;
    top: 300px;
    left: 60px;
    margin: 0;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.m-img2.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}



.meaning .m-img3 {
    background-image: url(../img/space3.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: 400px 300px;
    top: 400px;
    left: 430px;
    margin: 0;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 2s;
}
.m-img3.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
.flow {
    display: flex;
    width: 100%;
    height: 700px;
}

.flow .f-img1 {
    background-image: url(../img/tattoo_draw.jpg);
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    background-size: 800px 500px;
    background-position: right center; 
    order: 2;
    opacity: 0;
    transition: 3s;
}
.f-img1.fadein {
    opacity: 1;
}
.flow .fourth {
    text-align: center;
    padding: 150px 0 0 0;
    width: 40%;
    opacity: 0;
    transform: translateX(-50px);
    transition: 2s;
}
.fourth.scrollin {
    opacity: 1;
    transform: translateX(0);
}

footer .copy {
    color:black;
    background-color: #808080;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 25px 0 0 0;
    opacity: 0;
    transition: 2s;
}
.copy.fadein{
    opacity: 1;
}
